AUTH_PROVIDERS="email,google" # "email" | "google" | "azure" 
CARBON_EDITION="community" # "community" | "cloud" | "enterprise"

CLOUDFLARE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
CLOUDFLARE_TURNSTILE_SECRET_KEY="********************"

DOMAIN="localhost:3000"

ERP_URL="http://localhost:3000"
MES_URL="http://localhost:3001"

NOVU_APPLICATION_ID="********************"
NOVU_SECRET_KEY="********************"

POSTHOG_API_HOST="https://us.posthog.com"
POSTHOG_PROJECT_PUBLIC_KEY="********************"

RESEND_API_KEY="************************"
RESEND_DOMAIN="*********" # for example carbon.ms (no trailing slashes or protocols)

SLACK_BOT_TOKEN="***********************"

SESSION_SECRET="************************"

STRIPE_SECRET_KEY="sk_test_*************"
STRIPE_WEBHOOK_SECRET="whsec_************"

SUPABASE_ANON_KEY="******************"
SUPABASE_SERVICE_ROLE_KEY="*****************"
SUPABASE_URL="http://localhost:54321"
SUPABASE_DB_URL="postgresql://postgres:postgres@localhost:54322/postgres"

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID="************.apps.googleusercontent.com"
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="GOCSPX-****************************"
SUPABASE_AUTH_EXTERNAL_GOOGLE_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"

SUPABASE_AUTH_EXTERNAL_AZURE_CLIENT_ID="***************************************"
SUPABASE_AUTH_EXTERNAL_AZURE_CLIENT_SECRET="***********************************"
SUPABASE_AUTH_EXTERNAL_AZURE_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"

TRIGGER_SECRET_KEY="tr_dev_********************"
TRIGGER_API_URL="https://api.trigger.dev"
TRIGGER_PROJECT_ID="proj_**********************"

REDIS_URL="redis://localhost:6379"

VERCEL_URL="http://localhost:3000"


ANTHROPIC_API_KEY="sk-ant-***************"
OPENAI_API_KEY="sk-proj-*****************"

GOOGLE_PLACES_API_KEY="*******************"

RATE_LIMIT="5"