# Carbon specific
AUTH_PROVIDERS="email,google" # "email" | "google" | "azure" 
CARBON_EDITION="community" # "community" | "cloud" | "enterprise"
DOMAIN="localhost"
VERCEL_URL="http://localhost:3000"
ERP_URL="http://localhost:3000"
MES_URL="http://localhost:3001"
SESSION_SECRET="************************"
RATE_LIMIT="5"

# Supabase
SUPABASE_ANON_KEY="******************"
SUPABASE_SERVICE_ROLE_KEY="*****************"
SUPABASE_URL="http://localhost:54321"
SUPABASE_DB_URL="postgresql://postgres:postgres@localhost:54322/postgres"

## Supabase google auth
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID="************.apps.googleusercontent.com"
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="GOCSPX-****************************"
SUPABASE_AUTH_EXTERNAL_GOOGLE_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"

## Supabase azure auth
SUPABASE_AUTH_EXTERNAL_AZURE_CLIENT_ID="***************************************"
SUPABASE_AUTH_EXTERNAL_AZURE_CLIENT_SECRET="***********************************"
SUPABASE_AUTH_EXTERNAL_AZURE_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"

# Redis
REDIS_URL="redis://localhost:6379"

# Posthog
POSTHOG_API_HOST="https://us.posthog.com"
POSTHOG_PROJECT_PUBLIC_KEY="********************"

# Stripe
STRIPE_SECRET_KEY="sk_test_*************"
STRIPE_WEBHOOK_SECRET="whsec_************"

# GTM (notifications fan-out)
GTM_URL="http://localhost:4000"
GTM_EVENTS_API_SECRET_KEY=""

# Resend
RESEND_API_KEY="************************"
RESEND_DOMAIN="carbon.ms" # or your domain (no trailing slashes or protocols)
# RESEND_AUDIENCE_ID="*****" # Optional - required for contact management in `packages/jobs`

# Novu
NOVU_APPLICATION_ID="********************"
NOVU_SECRET_KEY="********************"

# Ingest
INNGEST_DEV=1
INNGEST_BASE_URL=http://localhost:8288
# INNGEST_SIGNING_KEY="signkey-****-********************"
# INNGEST_EVENT_KEY="********************"

# Cloudflare
CLOUDFLARE_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
CLOUDFLARE_TURNSTILE_SECRET_KEY="********************"

# Slack
SLACK_BOT_TOKEN="***********************"

# AI
ANTHROPIC_API_KEY="sk-ant-***************"
OPENAI_API_KEY="sk-proj-*****************"

# Google Places
GOOGLE_PLACES_API_KEY="*******************"